<!-- <pre>
    {{ products | json }}
</pre> -->

<!-- "@for" è una direttiva Angular che serve per iterare su una lista.
     "p of filteredProduct()" indica che per ogni elemento della lista filtrata viene creato un blocco di markup.
     "track $index" usa l'indice come chiave per tenere traccia degli elementi e migliorare le prestazioni. -->
@for (p of filteredProduct(); track $index) {
<div>
    <a [routerLink]="['/','prodotti', p.id]">{{ p.title }}</a>
    <!-- L'attributo [routerLink] è una binding property di Angular che permette di definire dinamicamente il percorso di navigazione. In questo caso, crea un link che porta alla pagina del prodotto con l'id specificato, costruendo un array di segmenti di percorso. -->
</div>
}